@font-face
  font-family: "IBMPlex"
  src: url("../assets/fonts/IBMPlexSansThaiLooped-Regular.ttf") format("truetype")
  font-weight: 400
  font-style: normal

@font-face
  font-family: "IBMPlex"
  src: url("../assets/fonts/IBMPlexSansThaiLooped-Regular.ttf") format("truetype")
  font-weight: normal
  font-style: normal

@font-face 
  font-family: "IBMPlex"
  src: url("../assets/fonts/IBMPlexSansThaiLooped-Bold.ttf") format("truetype")
  font-weight: bold
  font-style: normal


@font-face 
  font-family: "IBMPlex"
  src: url("../assets/fonts/IBMPlexSansThaiLooped-Light.ttf") format("truetype")
  font-weight: 100
  font-style: normal


    
html
    margin: 0
    padding: 0
    font-family: "IBMPlex"
    height: 100vh

body
    font-family: "IBMPlex"
    height: 100%

.content-c
    position: relative
    height: 100%
    max-height: 68vh
    border: 1px solid #007bff
    border-radius: 5px
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px
    padding: 20px
    margin: 10px
    overflow: auto

html::-webkit-scrollbar
  width: 5px

 
html::-webkit-scrollbar-track
  background: #ddd

 
html::-webkit-scrollbar-thumb
  background: #666

div::-webkit-scrollbar
  width: 5px

 
div::-webkit-scrollbar-track
  background: #ddd

 
div::-webkit-scrollbar-thumb
  background: #666   

.input-c    
  .form-control
    padding: .375rem 30px

.vs--searchable
  .vs__dropdown-toggle
    background-color: #fff

.calculado
  position: relative
  input
    border-color: orange !important
  &:after
    position: absolute
    bottom: -15px
    content: 'Dato calculado'
    color: orange
    font-size: 0.7rem

.referencia
  position: relative
  input
    border-color: green !important
  &:after
    position: absolute
    bottom: -15px
    content: 'Dato referencia'
    color: green
    font-size: 0.7rem


#chart
  height: 500px

.node 
  rect 
    cursor: move
    fill-opacity: .9
    shape-rendering: crispEdges

.node 
  text
    pointer-events: none
    text-shadow: 0 1px 0 #fff

.link
  fill: none
  stroke: #000
  stroke-opacity: .2
  &:hover
    stroke-opacity: .5

@media (min-width: 1200px)
  .modal-xl
      max-width: 90% !important
